* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 21.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.1rem hsl(30, 38%, 88%);
}

img {
  width: 100%;
  display: block;
}

article {
  width: 85%;
  margin: 1.5rem auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 0.77rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  color: hsl(228, 12%, 48%);
  line-height: 1.65;
}

.title {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  color: hsl(212, 21%, 14%);
  line-height: 1;
}

.box-price {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.price {
  color: hsl(158, 36%, 37%);
}

.old-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-left: 1.34rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  border-style: none;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  background: hsl(158, 36%, 37%);
  padding: 0.94rem;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 36%, 15%);
  transition: 0.2s ease-in-out;
}

#icon {
  width: 15px;
  height: 16px;
}

@media only screen and (min-width: 800px) {
  main {
    display: flex;
    flex-direction: row;
    width: 37.6rem;
  }

img {
    width: 18.8rem;
  }

  article {
    margin: 2rem;
  }

  .title {
    margin-top: 1.3rem;
    margin-bottom: 1.5rem;
  }

  .box-price {
    margin-top: 1.6rem;
    margin-bottom: 1.5rem;
  }
}
